.list {
  list-style: none;
  padding: 0;
}

.item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}

.img {
  width: 150px;
  height: auto;
  border-radius: 8px;
  margin-right: 20px;
  object-fit: cover;
}
